<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="#">Wonder Ecommerce App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users">Users</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/products" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/products/details">Details</a>
            <a class="dropdown-item" routerLink="/products/create">Create</a>
            <a class="dropdown-item" routerLink="/products/update">Update</a>
            <a class="dropdown-item" routerLink="/products/search">Search</a>
          </div>
        </li>
    </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end navbar-dark bg-dark" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item"> <a routerLink=""  class="nav-link">Contact</a> </li>
            <li class="nav-item"> <a routerLink=""  class="nav-link">SignIn</a> </li>
            <li class="nav-item"> <a routerLink=""  class="nav-link">SignUp</a> </li>

        </ul>
    </div>
  </nav>