<div class="container">
    <h4>Create - Product</h4>
<div class="well well-lg">
    <form [formGroup]="productForm" class="form-horizontal" (ngSubmit)="submitForm(productForm)" novalidate>
        <div class="form-row">
            <div class="form-group col-md">
                <label for="name"> Name </label>
                <input type="text" class="form-control" formControlName="name" name="name"
                 id="name" placeholder="Enter Product Name" >
                <small *ngIf="hasError('name')" [ngClass]="{'has-error' : hasError('name') }" >
                    <div *ngIf="f.name.errors">
                        <span *ngIf="f.name.errors.required"> Name is a required field .</span>
                        <span *ngIf="f.name.errors.minlength"> Name is  min 2 char long .</span>
                        <span *ngIf="f.name.errors.maxlength"> Name is  max 50 char long .</span>
                    </div>                    
                </small>
            </div>
            <div class="form-group col-md">
                <label for="description"> Descriptipn </label>
                <input type="text"  class="form-control" formControlName="description" name="description" 
                id="description" placeholder="Enter Product Description" >
                <small *ngIf="hasError('description')" [ngClass]="{'has-error' : hasError('description') }" >
                    <span *ngIf="f.description.errors?.required"> Description is a required field .</span>
                    <span *ngIf="f.description.errors?.minlength"> Description is  min 2 char long .</span>
                    <span *ngIf="f.description.errors?.maxlength"> Description is  max 50 char long .</span>
                </small>
            </div>
        </div>
        <div class="form-row">

            <div class="form-group col-md">
                <label for="price">Price</label>
                <input type="text" class="form-control" formControlName="price" name="price" id="price" 
                    placeholder="Enter Your emai" >
                <small *ngIf="hasError('price')" [ngClass]="{'has-error' : hasError('price') }" >
                    <span *ngIf="f.price.errors?.required"> price is a required field .</span>
                </small>
              </div>
        </div> <br><br>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit"  >Create Product</button>
        </div>
      </form>

</div>
</div>