<div class="container">
    <button class="btn btn-primary pull-right" (click)="goToCreate()" >Create Product</button>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark ">
          <tr>
            <th scope="col"># Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Price</th>
            <th scope="col">Product Description</th>
            <th scope="col">Product JSON</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of products">
            <th scope="row">{{p.id | number :'.3'}}</th>
            <td>{{p.name | uppercase}}</td>
            <td>{{p.price | currency : 'INR'}}</td>
            <td>{{p.description }}</td>
            <td>{{p | json}}</td>
            <td>
              <button type="button" class="btn btn-info"> View</button> &nbsp;
              <button type="button" class="btn btn-warning"> Edit</button> &nbsp;
                <button type="button" class="btn btn-danger" (click)="onDelete(p.id)" > Delete</button>
            </td>
          </tr>          
        </tbody>
      </table>

</div>